@media (max-width:1200px) {
    .nav-menu {
        gap: 30px;
    }
}

@media (max-width:1024px) {
    .header-inner .bar-icon {
        display: block;
    }

    .nav-menu {
        gap: 20px;
    }

    .header-inner .nav {
        position: absolute;
        width: 100%;
        top: 100%;
        right: 0;
        left: 0;
        background: var(--white);
        z-index: 10;
        padding: 20px;
        overflow: auto;
        border-radius: 0 0 10px 10px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1) !important;
        max-height: 500px;
        display: none;
    }

    .header-logo {
        z-index: 11;
    }

    .nav-menu {
        flex-direction: column;
    }

    .nav-link {
        color: var(--dark-color);
    }

    .close-icon {
        display: block;
    }

    .close-icon#filter-close {
        display: none;
    }

    .nav .button-white {
        background: var(--main-color) !important;
        border-color: var(--main-color) !important;
        color: var(--white) !important;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .nav .border-button {
        border: 1px solid var(--main-color) !important;
        color: var(--main-color) !important;
        max-width: 150px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .bar-icon.active-menu .bar-line {
        transition: all 0.3s ease-in-out;
    }

    .bar-icon.active-menu .bar-line:nth-child(2) {
        display: none;
    }

    .bar-icon.active-menu .bar-line:first-child {
        rotate: 45deg;
        top: 10px;
    }

    .bar-icon.active-menu .bar-line:nth-child(3) {
        rotate: -45deg;
        top: 10px;
    }

    .chart-side-bar .active-cheat-box,
    .side-list-message .cheat-user-list .cheat-user-item,
    .chart-side-bar .live-cheat-content,
    .chart-side-bar .live-cheat-infomation .text-type-box .message-box-user {
        padding: 15px;
    }
}

@media (max-width:991px) {
    .about-tripgo {
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .book-a-ride-content {
        padding: 40px 20px;
    }

    .how-it-works {
        margin-top: 50px;
    }

    .why-tripgo {
        margin: 50px 0;
    }

    .home-banner-content h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .heading-section,
    .how-it-works .title,
    .unveiling-section .title-section h5,
    .top-most-section .top-most-wrapper h5,
    .community-section .community-content h4,
    .document-verified-section .verified-inner-box .verified-inner-content .title-v {
        font-size: 28px;
        line-height: 32px;
    }

    .about-tripgo .about-content {
        margin-bottom: 0;
    }

    .how-it-works-tab .tab-content,
    .how-it-works {
        border-radius: 30px;
    }

    .how-it-works-tab .nav-tabs .nav-link,
    .unveiling-section .title-section p,
    .map-hover-section .icon-title-box .icon-box-inner h6 {
        font-size: 18px;
        line-height: 24px;
    }

    .faq-page-title {
        padding: 40px 15px;
    }

    .faq-page-title h1 {
        font-size: 30px;
        line-height: 45px;
    }

    .faq-infomation-section {
        margin: 50px 0;
    }

    .faq-infomation-section .faq-infomation-box {
        padding: 15px;
    }

    .faq-infomation-section .faq-infomation-box .info-number {
        min-width: 60px;
        max-width: 60px;
        height: 60px;
    }

    .faq-infomation-section .faq-infomation-box .info-number p {
        font-size: 28px;
        line-height: 34px;
    }

    .faq-infomation-section .faq-infomation-box .afq-info-content .info-title {
        font-size: 20px;
        line-height: 28px;
    }

    .faq-infomation-section .faq-infomation-box .afq-info-content .content {
        font-size: 16px;
        line-height: 24px;
    }

    .other-carpooling .other-carpooling-box .title-other {
        padding: 16px 15px;
    }

    .other-carpooling .other-carpooling-box .title-other .icon {
        max-width: 34px;
        min-width: 34px;
        height: 34px;
    }

    .other-carpooling .other-carpooling-box .title-other .icon i {
        font-size: 20px;
        line-height: 20px;
    }

    .other-carpooling .other-carpooling-box .other-content {
        padding: 15px;
        height: calc(100% - 61px);
    }

    .other-carpooling .other-carpooling-box .title-other p {
        font-size: 18px;
        line-height: 28px;
    }

    .other-carpooling .other-carpooling-box .other-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .faq-main-section .title-icon-box .title-content-faq .heading-section {
        line-height: 32px;
    }

    .faq-main-section .title-icon-box .title-content-faq p {
        font-size: 18px;
        line-height: 28px;
    }

    .faq-main-section .title-icon-box i {
        font-size: 60px;
        line-height: 60px;
        height: fit-content;
    }

    .faq-main-section {
        margin-top: 50px;
    }

    .faq-accordion .faq-item .faq-header,
    .faq-accordion .faq-item .faq-content {
        padding: 15px;
    }

    .faq-accordion .faq-item .faq-header .faqs-title {
        font-size: 18px;
        line-height: 28px;
    }

    .faq-accordion .faq-item .faq-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .faq-accordion {
        gap: 20px;
    }

    .faq-accordion .faq-item .faq-header .icon {
        font-size: 16px;
        line-height: 16px;
    }

    .why-tripgo .why-tripgo-wrapper {
        grid-template-columns: 1fr;
    }

    .why-tripgo .why-tripgo-wrapper .tripgo-wrapper-box .tripgo-wrapper-info h6 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    .customer-support-section .customer-support-box .customer-support-form {
        padding: 30px;
    }
}

@media (max-width:767px) {
    .share-experience {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 0;
    }

    .men-s4 {
        max-width: 150px;
        bottom: 150px;
        right: 15px;
    }

    .share-experience .bottom-arrow {
        display: none;
    }

    .header-logo {
        width: 110px;
        margin-bottom: -30px;
    }

    .header-logo img {
        width: 100%;
    }

    .how-it-works {
        padding: 15px;
    }

    .publish-a-ride-content .publish-buttons .publish-arrow {
        display: none;
    }

    .publish-a-ride-content .publish-buttons {
        padding: 30px 0 0;
    }

    .publish-ride-inner .publish-ride-box {
        flex-direction: column;
        padding: 20px 20px 40px;
        align-items: center;
    }

    .publish-ride-inner .publish-ride-box .box-content p {
        text-align: center;
    }

    .publish-ride-inner .publish-ride-box .images-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .publish-ride-inner .publish-ride-box .rank-no {
        left: 50%;
        bottom: -20px;
        transform: translateX(-50%);
    }

    .publish-ride-inner .publish-ride-box:after {
        left: 50%;
        transform: translateX(-50%);
    }

    .publish-ride-inner .publish-ride-box .box-content p,
    .ride-content-wapper .boox-content-box p,
    .share-experience .share-experience-box p {
        font-size: 16px;
        line-height: 20px;
    }

    .unveiling-list {
        gap: 20px;
    }

    .unveiling-section {
        padding: 80px 20px 30px;
    }

    .content-info {
        width: 100%;
    }

    .reviews-driver-inner {
        flex-direction: column;
        gap: 25px;
    }

    .reviews-driver-inner .border-line {
        display: none;
    }

    .reviews-ratings-driver .reviews-ratings-driver-box {
        padding: 20px;
    }

    .reviews-driver-inner .progress-bar-box {
        flex: unset;
        width: 100%;
    }

    .reviews-driver-inner .images-box {
        width: 100%;
        padding-bottom: 25px;
        border-bottom: 1px solid #1D97C150;
    }

    .reviews-driver-inner .images-box img {
        max-width: unset;
    }

    .reviews-ratings-driver-box .based-review {
        margin-bottom: 30px;
    }

    .driver-profile {
        margin-bottom: 30px;
    }

    .verified-profile,
    .about-driver,
    .reviews-ratings-driver {
        margin: 30px 0;
    }

    .rides-published-info {
        flex-direction: column;
    }

    .available-ride-item {
        padding: 30px 15px 15px;
    }

    .time-available-item-box .time,
    .time-available-item-box .landmark-name {
        font-size: 16px;
        line-height: 20px;
    }

    .book-available-infomation .route-line-info,
    .book-available-infomation .rides-available-info {
        font-size: 18px;
        line-height: 24px;
    }

    .book-ride-listing-section .filter-by-box .filter-inner-box .start-item-box,
    .only-women-box,
    .range-slider-box {
        padding: 15px;
    }

    .book-ride-listing-section .filter-by-box .filter-inner-box .filter-inner-title {
        padding: 12px 15px;
    }

    .time-available-item-book .available-item-book-inner .time,
    .time-available-item-book .available-item-book-inner .landmark-name .full-name {
        font-size: 16px;
        line-height: 20px;
    }

    .time-available-item-book .map-loaction-link {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
    }

    .time-available-item-book .map-loaction-link i {
        font-size: 18px;
        line-height: 24px;
    }

    .title-switch .box-ride-title,
    .vehicle-information .vehicle-title,
    .amenities-box .amenities-title {
        font-size: 20px;
        line-height: 24px;
    }

    .recurring-ride-form .input-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .recurring-ride-form .input-row.input-row-one .input-field {
        max-width: 100%;
    }

    .recurring-ride-form,
    .new-publish-ride-section.box-shadow-box .account-info-title {
        padding: 15px;
    }

    .amenities-box .amenities-list {
        grid-template-columns: 1fr;
    }


    .about-main-banner {
        padding: 50px 0 100px;
    }

    .about-why-tripgo {
        flex-direction: column;
    }

    .about-why-tripgo .images-box,
    .lbiza-section .images-box {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-why-tripgo .about-why-content,
    .lbiza-section .lbiza-content-box {
        text-align: center;
        max-width: 100%;
    }


    .explore-lbiza-section .explore-lbiza-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .about-car-dots .about-dots-right,
    .about-car-dots .about-dots-left {
        display: none;
    }

    .top-most-section .top-most-wrapper .top-most-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .customer-support-section .customer-support-box {
        flex-direction: column;
    }
    .home-banner .content h1 {
        font-size: 35px;
        line-height: 45px;
    }
    .customer-support-section{
        padding: 20px 15px;
    }
    .customer-support-section .sub-text-customer{
        font-size: 16px;
        line-height: 24px;
    }
    .customer-support-section .customer-support-box .customer-support-form {
        padding: 30px 15px;
    }
}

@media (max-width:640px) {
    .home-banner .content h1 {
        font-size: 26px;
        line-height: 35px;
    }

    .header-logo {
        width: 100px;
        margin-bottom: -35px;
    }

    .header-nav .button-group {
        gap: 15px;
    }

    .about-tripgo .about-content .icon-read-more {
        flex-wrap: wrap;
        gap: 15px;
        margin-top: 20px;
    }

    .book-a-ride-content {
        padding: 25px 15px;
    }

    .faq-infomation-section .faq-infomation-box .info-number {
        max-width: 40px;
        min-width: 40px;
        height: 40px;
    }

    .faq-infomation-section .faq-infomation-box .info-number p {
        font-size: 20px;
        line-height: 24px;
    }

    .faq-infomation-section .faq-infomation-box .afq-info-content .info-title {
        font-size: 18px;
        line-height: 24px;
    }

    .social-icon-list {
        justify-content: center;
    }

    .footer .footer-infomation .quick-link:last-child .quick-link-list {
        flex-direction: column;
    }

    .footer .footer-infomation .footer-link {
        flex-direction: column;
        gap: 50px;
    }

    .footer .footer-infomation .footer-link .quick-link,
    .footer .footer-infomation .quick-link:last-child .quick-link-list li {
        max-width: 100%;
    }

    .footer .content-info {
        order: 3;
        max-width: 100%;
    }

    .faq-main-section .title-icon-box i {
        font-size: 50px;
        line-height: 50px;
    }

    .faq-main-section .title-icon-box .title-content-faq .heading-section {
        font-size: 24px;
    }

    .driver-detail-banner h1 {
        font-size: 28px;
        line-height: 35px;
    }

    .time-available-item-box .landmark-name {
        padding-left: 10px;
    }

    .top-most-section .top-most-wrapper .top-most-list {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer .link_footer {
        gap: 15px;
        flex-direction: column;
    }

    .why-tripgo .why-tripgo-wrapper .tripgo-wrapper-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .why-tripgo .why-tripgo-wrapper .tripgo-wrapper-box .icon-box {
        width: fit-content;
    }

    .copy-right-wrapper {
        flex-direction: column-reverse;
    }
}